@font-face {
    font-family: nueu-r;
    src: local('Neue-r'),url('../../public/fonts/NeueHaasDisplayRoman.ttf');
  }
  
  @font-face {
    font-family: nueu-b;
    src: local('Neue-b'),url('../../public/fonts/NeueHaasDisplayBold.ttf');
  }
  
  @font-face {
    font-family: nueu-l;
    src: local('Neue-l'),url('../../public/fonts/NeueHaasDisplayLight.ttf');
  }


input[type='number'] {
    -moz-appearance: textfield;
}

/* For Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  top: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;

  background-color: rgb(0, 0, 0);
  background-image: linear-gradient(to bottom right, #464646 1%, black 60%, #261626);
}



.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  overflow: hidden;
}




.titleText {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  font-family: nueu-r;
  overflow: hidden;
}

.titleText h1 {
  font-size: 300%;
  overflow: hidden;
}






.section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  font-family: nueu-l;
  overflow: hidden;

}

#err {
  text-align: center;
  color: red;
  overflow: hidden;
}


.design {
  height: 100%;
  width: 45%;
  position: absolute;
  top: 0%;
  right: 0;
  opacity: 50%;
  overflow: hidden;
}

.formbox {
  position: absolute;
  top: 25%;
  overflow: hidden;
  width: 400px;
  height: 450px;
  background: transparent;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.inputbox {
  position: relative;
  margin: 30px 0;
  width: 350px;
  border-bottom: 2px solid #fff;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}



.input:focus~label,
.input:not(:placeholder-shown)~label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}

.button {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    left: 30%;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    color: #261626;
  }
  
  .button:hover {
    letter-spacing: 3px;
    background-color: hsl(279, 94%, 93%);
    color: hsl(0, 0%, 7%);
    box-shadow: #851585 0px 5px 35px 0px;
  }
  
  .button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }

  .TextField{
    margin-top: 17%;
  }

  .SubBtn {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    /* left: 30%; */
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    margin: 2% 0%;
    
  }
  
  .SubBtn:hover {
    letter-spacing: 3px;
    background-color: hsl(279, 94%, 93%);
    color: hsl(0, 0%, 7%);
    box-shadow: #851585 0px 5px 35px 0px;
  }
  
  .SubBtn:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }




  

.register {
  font-size: .9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}

.register p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.register p a:hover {
  text-decoration: underline;
}


.dont{
  display: flex;
  flex-direction: row;
  color: white;
  position: relative;
  bottom: 25vh;
}

.signUp{
  background-color: transparent;
  border:none;
  color:white;
  font-size: 18px;
  /* padding-top: 2.5px; */
  

}






@media screen and (max-width: 1047px){
  .button{
    margin-top: 10px;
    scale: 0.9;
    color: black;
  }


  .dont{
    margin-top: 25px;
  }
  .signUp{
    margin-bottom: px;
  }
   
 }

 @media screen and (max-width: 750px){
  .titleText h1{
    font-size: 300%;
  }
 }

 @media screen and (max-width: 435px){
  .container {
    height: 100vh;
    width: 100%;
    padding: 0 0rem;
    display: flex;
   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;

  }

  

  .section{
    height: 100%;
    width: 100%;
    margin-right: 0%;
    overflow: hidden;
  }

  .button{
    margin-bottom: 15%;
  }


 }


 @media screen and (max-width: 400px){
  .container{
    position: fixed;
    top: 0;
  }
  .button{
    padding: 14px 35px;
    /* position: absolute;
    left: 35%; */
    
  }


  .inputbox{
    width: 100%;
    margin-right: 100px;
  }


 }



 @media screen and (max-width: 400px){
  .container{
    position: fixed;
    top: 0;
  }
  .button{
    padding: 14px 35px;
    margin-bottom: 20%;
    position: relative;
    right: 20%;
    
    
  }


  .inputbox{
    width: 100%;
    margin-right: 20px;
  }


 }